{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">

<style>
    body {
      background-image: url("pic2.jpg");
      background-size: cover;
      background-attachment: fixed;
    }
</style>
{% endblock %}

{% block body %}

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <h3><b>LOGIN</b></h3>

    <label for="username">USER NAME</label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password">PASSWORD</label>
    <input type="password" placeholder="Password" id="password">

    <button>LOGIN</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>

{% endblock %}